{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<style>
  /* body {
    background-image: url('/static/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 20px;
  }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}


{% block title %}
Crop recommendation
{% endblock %}


{% block content %}

<div class="topnav">
  <a style="background-color: #333;color: white;font-size: 20px;font-weight: bold;">Crop recommendation</a>
  <a class="active" href="about" style="float:right">About</a>
  <a href="crop" style="float:right">Crop</a>
  <a href="/" style="float:right">Home</a>
</div>

<div class="container" style="width:80%;">
  <div class="row">
    <div class="mx-lg-auto mx-md-auto" style="padding-top: 50px;text-align: center;font-size: 20px;">
        <h1>About Us</h1>
      <p style="text-align: justify;padding-top: 15px;">Modern farms and agricultural operations are taken place more
        totally different than the olden times, primarily due to
        advancements in technology, as well as sensors, devices,
        machines, and knowledge technology. Today’s agriculture
        habitually uses refined technologies like robots, temperature
        and wetness sensors, aerial pictures, and GPS technology, and
        lots of complex IOT devices. These advanced devices in major
        factors are taken into consideration at the same time and come
        up with a solution so that the system will not be complicated
        for the user. As mentioned above in the sentence, the major
        factors taken into consideration, this system considers all the
        major factors which are essential for plant growth, are
        processed together using various algorithms.</p>

    </div>
  </div>
</div>

<div class="footer">
  <p>&copy; 2021 </p>
</div>
{% endblock %}